h1 {
	text-align:center;
}
img {
	display:block;
	margin:auto;
	width:50%;
}

a:hover {
    color: #000;
    text-decoration: none;
}

footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}