h1 {
	text-align:center;
}
img {
	display:block;
	margin:auto;
	width:50%;
}

a:hover {
	color: #000;
	text-decoration: none;
}

footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

.float-right {
	float: right;
}

.bullets {
	text-decoration: none;
}

/* For devices larger than 400px */
@media (min-width: 1000px) {
	.date {
		text-align: right;
	}
	.featured-image {
		padding-bottom: 20px;
		width: 65%;
	}
	.aws-badge {
		max-width: 340px;
	}

	.nav-menu {
		margin-top:10px;
	}
}

/* For devices less than 400px */
@media (max-width: 1000px) {
	.date {
		text-align: left;
	}
	.featured-image {
		padding-bottom: 20px;
		width: 100%;
	}

	.nav-menu {
		margin-top:50px;
	}
}